.container {
  background-color: #3a3973;
}

.container > div {
  background-color: aquamarine;
  margin: 0 0 10% 0;
  display: grid;
  grid-template-columns: auto 50%;
}

.nav {
  display: flex;
  background-color: #3a3973;
  justify-content: center;
  color: black;
  position: sticky;
  top: 0%;
}

.nav h1 {
  margin: 0.5% 0;
  padding-right: 20%;
  font-size: 3.2em;
}

.nav__link {
  display: flex;
  padding: 0 2%;
  font-size: 1.3em;
  align-items: center;
  color: white;
  font-weight: bold;
}

/*00000000000000000000000000000000000000000
here begin style "home"
000000000000000000000000000000000000000000*/

.home {
}

.img_wrapper {
  display: flex;
  justify-content: center;
}

.home__information {
  display: grid;
}

.home__greeting {
  font-size: 2em;
}

.home__presentation {
  font-size: 2em;
}

.home__buttonSeeMyWork {
  width: 25%;
  font-size: 2em;
  color: white;
  background-color: #fe4f6c;
  border: 0px solid black;
  border-radius: 20rem;
}
/*00000000000000000000000000000000000000000
here ending style "home"
00000000000000000000000000000000000000000*/

/*00000000000000000000000000000000000000000
here begining style "about"
00000000000000000000000000000000000000000*/

#about {
}

.about__title {
  font-size: 2em;
}

.about__imgWrapper {
  display: flex;
  justify-content: center;
}
/*00000000000000000000000000000000000000000
here ending style "about"
00000000000000000000000000000000000000000*/

/*00000000000000000000000000000000000000000
here begining style "portafolio" 
00000000000000000000000000000000000000000*/

#portfolio {
  grid-template-columns: auto;
  justify-content: center;
}

.portfolio__title {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.porfolio__buttonsWrapper {
  display: flex;
  justify-content: center;
}

.porfolio__buttonsWrapper > button {
  margin: 0 1%;
  font-size: 1.5em;
  border-radius: 2rem;
  border: 0px;
  background-color: #fe4f6c;
}

.portfolio__imageWrapper {
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* 
.container > div:last-child > div:last-child {
  display: grid;
  grid-template-columns: auto auto auto;
}

#portfolio {
  display: block;
}

#portfolio h2 {
  color: white;
  display: flex;
  justify-content: center;
}
h2 span {
  color: #fe4f6c;
}
#portfolio > div:first-child {
  justify-text: center;
  background-color: chocolate;
}

.img_wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.img_wrapper img {
  width: 100%;
  height: auto;
}

.button {
  width: 7rem;
  font-size: 1.5em;
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  background-color: #fe4f6c;
  border: 1px solid #fe4f6c;
}

.button:focus {
  background-color: transparent;
  color: #fe4f6c;
}

#portfolio > div:first-of-type {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: blanchedalmond;
}

#portfolio > div:last-of-type {
  display: grid;
  gap: 3rem;
  justify-content: center;
}

.item {
  position: relative;
}

.item .button {
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-size: 4em;
} */
