/*here beginning generals style to all...
the page and elements that shape its*/

body {
  background-color: firebrick;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #3a3973;
  width: 98vw;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 5% auto auto auto;
  color: white;
}

.container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5%;
  padding: 0 5%;
  margin-top: 3%;
}

.img_wrapper > img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 450px;
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  background-color: aqua;
}
/*00000000000000000000000000000000000000000
here begin style "nav bar block"*/

.nav {
  display: flex;
  background-color: #3a3973;
  justify-content: center;
  color: black;
  position: sticky;
  top: 0%;
}

.nav h1 {
  margin: 0.5% 0;
  padding-right: 20%;
  font-size: 3.2em;
  color: #fe4f6c;
}

.nav__link {
  display: flex;
  padding: 0 2%;
  font-size: 1.3em;
  align-items: center;
  color: white;
  font-weight: bold;
}

/*00000000000000000000000000000000000000000
here begin style "home block"*/

.home {
}

.home__information {
  display: grid;
}

.home__greeting {
  font-size: 2em;
}

.home__presentation {
  font-size: 2em;
}

.home__buttonSeeMyWork {
  min-width: 170px;
  width: 40%;
  font-size: 1.5em;
  color: white;
  background-color: #fe4f6c;
  border: 0px solid black;
  border-radius: 20rem;
}
/*00000000000000000000000000000000000000000


/*00000000000000000000000000000000000000000
here begining style "about block"*/

#about {
}

.about__title {
  font-size: 2em;
}

.about__information span {
  margin: 0 0 0 10%;
}

.about__information strong {
  font-weight: 900;
  display: inline-block;
  width: 15%;
}
.about__imgWrapper {
  display: flex;
  justify-content: center;
}

#photo {
  border: 5px #fe4f6c solid;
}
/*00000000000000000000000000000000000000000


/*00000000000000000000000000000000000000000
here begining style "portafolio block" */

#portfolio {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
}

.portfolio__title {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.porfolio__buttonsWrapper {
  display: flex;
  justify-content: center;
}

.porfolio__buttonsWrapper > button {
  min-width: 10%;
  margin: 0 1%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border-radius: 2rem;
  border: 0px;
  color: white;
  background-color: #fe4f6c;
}

.porfolio__buttonsWrapper > button:focus {
  color: #fe4f6c;
  background-color: #fe4f6c00;
  border: 2px solid #fe4f6c;
}

.portfolio__imageWrapper {
  margin-top: 2%;
  display: grid;
  justify-content: center;
  gap: 2% 1%;
  grid-template-columns: 30% 30% 30%;
}

.portfolio__imageWrapper img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.item {
  position: relative;
}

.item:hover > img {
  opacity: 0.4;
}

.item:hover > .wrapperButtonA {
  visibility: visible;
}

.wrapperButtonA {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50%;
  height: 10%;
  visibility: hidden;
}

/*here begin style of eyes in the seccion porfolio*/
.wrapperButtonA > div {
  width: 7%;
  height: 82.03%;
  margin: 1% 5%;
  border: solid 3px black;
  border-radius: 75% 0%;
  transform: rotate(45deg);
  background-color: blanchedalmond;
  cursor: pointer;
}

.wrapperButtonA > div::after {
  content: "";
  position: relative;
  display: block;
  width: 15%;
  height: 15%;
  border: solid 3px black;
  border-radius: 50%;
  top: 26%;
  left: 30%;
}
/*here end style of eyes*/

/*here begin syle of chains icons*/

.chain {
  position: relative;
  width: 7%;
  height: 82.03%;
}

.chain_link1 {
  display: inline-block;
  background-color: white;
  width: 40%;
  height: 71.015%;
  margin: 1% 3%;
  border: solid 2px black;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
  position: absolute;
  top: 60%;
}

.chain_link2 {
  display: inline-block;
  background-color: white;
  width: 40%;
  height: 71.015%;
  margin: 1% 3%;
  border: solid 2px black;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
  position: relative;
  top: -20%;
  left: 83%;
}

.chain_link2::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 115.015%;
  background-color: black;
  border: 1px solid white;
  border-radius: 30%;
  position: absolute;
  top: 65%;
  left: 30%;
}
